.idea/
cmake-build-debug/
cmake-build-release/
*.so
*.la
*.o

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.out
doc/*.synctex.gz
doc/*.toc

build/
